.bottomMenuWrapper {
  position: fixed;
  bottom: 0;
  right: 14px;
  padding: 4px;
  height: 64px;
  max-width: calc(500px - 28px);
  width: calc(100% - 28px);
  background: #262626;
  border-radius: 12px;
  border: 1px solid #1c1c1d;

  .bottomMenu {
    height: 100%;
  }

  .menuItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;

    &.active {
      background: #1C1C1C;
    }

    img {
      max-width: 20px;
      height: 17px;
    }

    .menuItem_text {
      font-size: 12px;
      font-weight: 500;
      line-height: 14.52px;
      letter-spacing: -0.02em;
      text-align: center;
      margin-top: 8px;
    }

  }

  .settingsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.7;
  }
}

.menuItem_task {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.menuItem_task::before,
.menuItem_task::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  z-index: -1;
  box-shadow: inset 0 0 0 1px red;
  animation: menuItem_task_anim 8s linear infinite;
  border-radius: 8px;
}
.menuItem_task::before {
  animation-delay: -4s;
}
.menuItem_task:hover::after,
.menuItem_task:hover::before {
}
@keyframes menuItem_task_anim {
  0%, 100% {
    clip: rect(0px, 230px, 6px, 0px);
  }
  25% {
    clip: rect(0px, 6px, 230px, 0px);
  }
  50% {
    clip: rect(218px, 230px, 230px, 0px);
  }
  75% {
    clip: rect(0px, 230px, 230px, 218px);
  }
}
