.wrapper {
  max-width: 500px;
  margin: 0 auto;
  height: calc(100vh - 64px - 10px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 8px 14px;
  position: relative;
}