.wrapper {
  height: 100%;
  position: relative;
}

.bg {
  height: 100%;
  width: 100%;
  //background-image: url('/img/bg.jpg');
  background-size: cover;
  background-position: center;
}

.content {
  min-height: 100%;
  margin: 0 auto;
  padding: 8px 14px 64px 14px;
}
