@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/font/static/InterTight-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}