.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.icon {
  margin-bottom: 16px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
}

.text {
  max-width: 220px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #9F9F9F;
}

.profitWrapper {
  margin-top: 20px;

  .profitLabel {
    font-size: 14px;
    font-weight: 500;
    line-height: 14.52px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #737373;
    margin-bottom: 5px;
  }

  .profit {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }

    img {
      width: 25px;
      height: 25px;
      margin-right: 8px;
    }
  }
}

.price {
  margin: 20px 0 25px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  img {
    width: 44px;
    height: 44px;
    margin-right: 8px;
  }
}

.startBtn {
  margin-top: 40px;
  width: 100%;
  padding: 18px 0;
  border-radius: 12px;
  background: linear-gradient(180deg, #17D686 0%, #0C7046 100%);

  font-size: 24px;
  font-weight: 600;
  line-height: 29.04px;
  letter-spacing: -0.04em;
  text-align: center;
}