.wrapper {

}

.earnBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .earnBlock_imgBlock {
    padding: 20px 0;
    img {
      width: 100px;
    }
  }
}


.dailyTasks {

  .taskCategory {
    margin-bottom: 10px;
  }
}

.taskItem {
  padding: 10px 15px;
  background: #272a2f;
  border-radius: 20px;
  margin-bottom: 5px;

  .taskItem_img {
    width: 40px;
    height: auto;
    margin-right: 20px;
  }

  .taskItem_arrow {
    width: 20px;
    height: auto;
  }

  .taskItem_info {

    img {
      margin-right: 5px;
      width: 20px;
    }
  }
}