.wrapper {
  min-height: 200px;
  background: #2D2D2D !important;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px!important;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.body {
  padding: 20px!important;
}

.label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.btn {
  font-size: 24px;
}

.select {
  background: #2D2D2D!important;

  option {
    background: #2D2D2D!important;
  }
}

.select:focus-visible {
  outline: none!important;
  border: 1px solid #fff!important;
  box-shadow: none!important;
}

.saveBtn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px!important;
  font-size: 18px!important;
  font-weight: 500!important;
}
