* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

span, img {
    user-select: none;
}

html, body {
    height: 100%;
    background: rgb(2,0,36)!important;
}

#root {
    height: 100%;
}

.AppLoader {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .loaderBlock {
        text-align: center;
    }

    p {
        margin-top: 10px;
        font-size: 18px;
        color: white;
    }
}